<div class="racquet-details">
  <h4><%= racquet.trade_name %></h4>
  <p><%= racquet.weight %></p>
  <p><%= racquet.balance %></p>
  <p><%= racquet.swingweight %></p>
  <p><%= racquet.composition %></p>
</div>
